/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e293b;
    padding: 15px 30px;
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #000000;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #38bdf8;
}

/* HERO */
.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to right, #0f172a, #1e293b);
    color: white;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 15px;
}

.hero p {
    margin-bottom: 20px;
    font-size: 1.2rem;
}

.btn {
    padding: 10px 20px;
    background-color: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.btn:hover {
    background-color: #0ea5e9;
}

/* FEATURES */
.features {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px 20px;
}

.feature-card {
    background: #f1f5f9;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
    transition: 0.3s;
}

.feature-card:hover {
    transform: translateY(-5px);
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #1e293b;
    color: white;
}

/* HERO LAYOUT */
.hero {
    padding: 80px 40px;
    background: linear-gradient(to right, #0f172a, #1e293b);
    color: white;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

/* TEXT SIDE */
.hero-text {
    max-width: 500px;
}

.hero-text h1 {
    font-size: 4rem;
    margin-bottom: 15px;
}

/* IMAGE SIDE */
.hero-image img {
    width: 350px;
    max-width: 100%;
}